@tailwind base;
@tailwind components;
@tailwind utilities;

li:hover i {
  color: #D47332;
}
li:hover {
  cursor: pointer;
}

.is-active {
  background: rgb(39 39 42 / var(--tw-bg-opacity));
  i {
    color: #D47332;
  }
}

