<div class="container">
  <nav class="container-navbar">
    <div>
      DYSHOCK
    </div>
    <ul>
      <li>links</li>
      <li>links</li>
      <li>links</li>
      <li>links</li>
      <li>links</li>
      <li>links</li>
      <li>links</li>
      <li>links</li>
    </ul>
    <div>
      D_ys
    </div>
  </nav>
  <div class="container-body">
    <div class="container-menu-vertical">
      <ul>
        <li>test</li>
        <li>test</li>
        <li>test</li>
        <li>test</li>
        <li>test</li>
        <li>test</li>
      </ul>
    </div>
    <div class="container-body-render">
      <div class="body-render">
        <div>
          PUB
        </div>
        <div>
          test render
        </div>
      </div>
      <footer>
        FOOTER
      </footer>
    </div>
  </div>
</div>
