<div class="relative">
  @if (server.isConnected) {
    <div class="flex justify-end gap-1 absolute right-1.5 top-1.5 max-md:hidden">
      <button class="bg-zinc-900 rounded-md py-2.5 px-3.5 hover:is-active" (click)="connectServer()">
        <i class="fa-solid fa-gamepad"></i>
      </button>
      <button class="bg-zinc-900 rounded-md py-2.5 px-3.5" (click)="copyServer()">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
  }
  <img class="object-fill rounded-t-md rounded-b-md" [ngClass]="{'opacity-50': !server.isConnected}"
       src="assets/maps/akredline.png"/>
  <div class="flex absolute self-center bg-zinc-900 p-1.5 rounded-xl left-1.5 top-1.5">
                <span class="relative flex h-3 w-3">
                 @if (server.isConnected) {
                   <span
                     class="animate-ping absolute inline-flex h-full w-full rounded-full bg-emerald-600 opacity-75"></span>
                   <span class="relative inline-flex rounded-full h-3 w-3 bg-emerald-600"></span>
                 } @else {
                   <span
                     class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-600 opacity-75"></span>
                   <span class="relative inline-flex rounded-full h-3 w-3 bg-red-600"></span>
                 }
                 </span>
  </div>
</div>
<div class="mt-2 relative">
  <div class="flex justify-between">
    <div class="py-1.5 text-xl"><span>{{ server.name.substring(0, server.name.indexOf('#')) }}</span><span
      class="text-orange-500 font-bold">{{ server.name.slice(-2) }}</span></div>

    <div class="flex items-center">
      <div class="bg-zinc-900 flex items-center px-2.5 py-1 rounded-xl"><i
        class="fa-solid fa-users opacity-50 text-sm"></i><span
        class="font-bold ml-1.5 text-sm"
        [ngClass]="{'text-orange-500': server?.usedSlots > 0 && server?.usedSlots < 12}"> {{ server?.usedSlots }}</span><span
        class="text-sm">/{{ server?.slots }}</span>
      </div>
    </div>
  </div>
  <div class="flex justify-between it mt-2">
    <div class="bg-zinc-900 px-2.5 py-1 rounded-xl  flex items-center"><i class="fa-solid fa-map opacity-50 text-sm"></i> <span
      class="text-sm ml-2">{{ server?.currentMap }}</span></div>
    <div class="bg-zinc-900 px-2.5 py-1 rounded-xl flex items-center">
      <i class="fa-solid fa-chess-rook opacity-50 text-sm"></i>
      <span class="text-sm ml-2">{{ server?.type }}</span></div>
  </div>

</div>
